* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b14;
    color: #ffffff;
}

/* You can add global styles to this file, and also import other style files */